$grey-50: #f9f9f9;
$grey-100: #e5e5e5;
$grey-400: #646464;
$grey-800: #2f2f2f;
$grey-900: #000000;

$yellow-300: #e0da48;
$yellow-500: #e0da48;
$yellow-800: #bea363;

$orange-500: #ff725e;

$green-300: #7f977b;
$green-500: #65895f;
$green-800: #6e7d60;
