$dark-primary-text: #2f2f2f;
$light-primary-text: white;

$green-palette: (
  50: #eef3ee,
  100: #d6e3d6,
  200: #bed1be,
  300: #a8c0a6,
  400: #98b295,
  500: #7f977b,
  600: #7f977b,
  700: #65895f,
  800: #6e7d60,
  900: #6e7d60,
  A100: #7f977b,
  A200: #65895f,
  A400: #6e7d60,
  A700: #6e7d60,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);

$yellow-palette: (
  50: #e2e1c5,
  100: #e2e1c5,
  200: #e2e1c5,
  300: #e0da48,
  400: #e0da48,
  500: #e0da48,
  600: #e0da48,
  700: #e0da48,
  800: #e0da48,
  900: #e0da48,
  A100: #e0da48,
  A200: #e0da48,
  A400: #e0da48,
  A700: #e0da48,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);

$red-palette: (
  50: #c13823,
  100: #c13823,
  200: #c13823,
  300: #c13823,
  400: #c13823,
  500: #a6301e,
  600: #a6301e,
  700: #a6301e,
  800: #a6301e,
  900: #a6301e,
  A100: #c13823,
  A200: #a6301e,
  A400: #a6301e,
  A700: #a6301e,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  ),
);
