<div class="layout-content">
  <div class="home-section">
    <div class="home-description">
      <div [innerHTML]="'home.title' | translate"></div>
      <div class="home-sub-description">
        <i class="ic ic-address-yellow"></i
        >{{ "taiwan-travel-guide" | translate }}
      </div>
    </div>
    <form class="home-form form" [formGroup]="searchForm">
      <mat-form-field appearance="outline">
        <mat-label>{{ "common.type" | translate }}</mat-label>
        <mat-select formControlName="searchOperation">
          <mat-option *ngFor="let item of searchOptions" [value]="item.value">
            {{ "navbar." + item.label | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>{{ "common.keyword-placeholder" | translate }}</mat-label>
        <input matInput formControlName="keyword" />
      </mat-form-field>
      <button mat-flat-button color="primary" class="w-100" (click)="search()">
        {{ "common.search" | translate }}
      </button>
    </form>
  </div>
  <div class="home-section carousel"></div>
  <div class="home-section event">
    <div class="home-title">
      <div class="home-title-text">
        {{ "home.recent-activity" | translate }}
      </div>
      <a
        [routerLink]="['/search', searchType.ACTIVITY]"
        class="home-title-more"
      >
        {{ "common.more" | translate }}<i class="ic ic-arrow-orange-right"></i>
      </a>
    </div>
    <mat-grid-list cols="2" rowHeight="160px" gutterSize="15px">
      <mat-grid-tile class="media-card" *ngFor="let item of activityData">
        <mat-card>
          <div class="card-img-outer">
            <img
              mat-card-image
              [src]="
                item.Picture.PictureUrl1
                  ? item.Picture.PictureUrl1
                  : emptyPictureUrl
              "
              [alt]="
                item.Picture.PictureUrl1
                  ? item.Picture.PictureDescription1
                  : item.ActivityName
              "
            />
          </div>
          <mat-card-title-group>
            <div class="card-content">
              <div class="card-date">
                {{ item.StartTime | date: "yyyy/MM/dd" }} -
                {{ item.EndTime | date: "yyyy/MM/dd" }}
              </div>
              <div class="card-title">{{ item.ActivityName }}</div>
            </div>
            <div class="card-footer">
              <div class="card-city ic ic-address">{{ item.City }}</div>
              <a
                [routerLink]="['/search', searchType.ACTIVITY, item.ActivityID]"
                class="card-more"
                >{{ "common.detailed" | translate
                }}<i class="ic ic-arrow-green-right"></i
              ></a>
            </div>
          </mat-card-title-group> </mat-card
      ></mat-grid-tile>
    </mat-grid-list>
  </div>
  <div class="home-section attraction">
    <div class="home-title">
      <div class="home-title-text">
        {{ "home.popular-scenic-spot" | translate }}
      </div>
      <a
        [routerLink]="['/search', searchType.SCENIC_SPOT]"
        class="home-title-more"
      >
        {{ "common.more" | translate }}<i class="ic ic-arrow-orange-right"></i>
      </a>
    </div>
    <mat-grid-list cols="4" rowHeight="270px" gutterSize="15px">
      <mat-grid-tile class="common-card" *ngFor="let item of scenicSpotData">
        <a
          class="card-content"
          [routerLink]="['/search', searchType.SCENIC_SPOT, item.ScenicSpotID]"
        >
          <div class="card-img-outer">
            <img
              mat-card-image
              [src]="
                item.Picture.PictureUrl1
                  ? item.Picture.PictureUrl1
                  : emptyPictureUrl
              "
              [alt]="
                item.Picture.PictureUrl1
                  ? item.Picture.PictureDescription1
                  : item.ScenicSpotName
              "
            />
          </div>
          <div class="">
            <div class="card-city ic-address">{{ item.City }}</div>
            <div class="card-title">{{ item.ScenicSpotName }}</div>
          </div>
        </a>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div class="home-section restaurant">
    <div class="home-title">
      <div class="home-title-text">
        {{ "home.popular-restaurant" | translate }}
      </div>
      <a
        class="home-title-more"
        [routerLink]="['/search', searchType.RESTAURANT]"
      >
        {{ "common.more" | translate }}<i class="ic ic-arrow-orange-right"></i>
      </a>
    </div>
    <mat-grid-list cols="4" rowHeight="270px" gutterSize="15px">
      <mat-grid-tile class="common-card" *ngFor="let item of restaurantData">
        <a
          class="card-content"
          [routerLink]="['/search', searchType.RESTAURANT, item.RestaurantID]"
        >
          <div class="card-img-outer">
            <img
              mat-card-image
              [src]="
                item.Picture.PictureUrl1
                  ? item.Picture.PictureUrl1
                  : emptyPictureUrl
              "
              [alt]="
                item.Picture.PictureUrl1
                  ? item.Picture.PictureDescription1
                  : item.RestaurantName
              "
            />
          </div>
          <div class="">
            <div class="card-city ic-address">{{ item.City }}</div>
            <div class="card-title">{{ item.RestaurantName }}</div>
          </div>
        </a>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
