.aes-rsa-content {
  max-width: 800px;
  margin: 80px auto;

  .section-title {
    font-weight: bold;
    font-size: 1.3rem;
    color: #333;
    margin-bottom: 10px;
    text-align: left;
  }

  .section {
    flex: 1;
  }

  .form {
    display: flex;
    width: 100%;
  }

  .mat-button-base {
    margin: 0.25em 0 5px 1.34375em;
    padding: 0 2em;
  }

  .mat-form-field {
    display: flex;
    flex: 1;
  }
  .mat-form-field-wrapper {
    flex: 1;
  }

  .data {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0px;
    &-title {
      width: 25%;
      padding-bottom: 10px;
    }

    &-content {
      width: 75%;
      word-break: break-all;
      padding-bottom: 10px;
    }
  }
}
