.mat-grid-tile {
  .card-title {
    font-size: 18px;
    line-height: 1.5;
    font-weight: $font-bold;
    color: $text-color-2;
  }

  .card-city {
    display: flex;
    align-items: center;
    color: $text-color-3;
    margin: 0;
  }

  .card-img-outer {
    display: flex;
    justify-content: center;

    overflow: hidden;
    border-radius: $card-img-border-radius;
  }

  .mat-card-image {
    transform: scale(1, 1);
    transition: all 0.5s ease-out;
  }

  &:hover {
    .mat-card-image {
      transform: scale(1.1, 1.1);
    }
  }

  &.common-card {
    .mat-grid-tile-content {
      display: flex;
      align-items: flex-start;
    }
    .mat-card {
      box-shadow: none;
      height: 100%;
      border-radius: $card-border-radius;
    }

    .card-content {
      width: calc(100% + 32px);
      text-decoration: none;
    }
    .card-img-outer {
      margin-bottom: 10px;
      height: 180px;
      overflow: hidden;
    }
    .mat-card-image {
      margin-bottom: 0;
      border-radius: $card-border-radius;
      height: 100%;
      &:first-child {
        margin-top: 0;
      }
      img {
        width: 100%;
      }
    }
  }
  &.media-card {
    border-radius: $card-border-radius;
    background-color: $body-background-secondary-color;
    .mat-card {
      width: 100%;
      background: transparent;
      display: flex;
      height: 100%;
      padding: 0;
    }
    .card-img-outer {
      @include size(160px);
      border-radius: $card-border-radius 0 0 $card-border-radius;
    }
    .mat-card-image {
      @include size(auto, 100%);
      margin: 0px;
      background-size: cover;
    }

    .mat-card-title-group {
      padding: 20px 16px 16px;
      flex-wrap: wrap;
      box-sizing: border-box;
      flex: 1;
      flex-direction: column;
    }
    .card {
      &-content {
        flex: 1;
      }
      &-date {
        width: 100%;
        color: $text-color-3;
      }
      &-title {
        flex: 1;
        width: 100%;
        margin-top: 3px;
      }
      &-footer {
        display: flex;
        width: 100%;
        justify-content: space-between;
      }
      &-more {
        text-decoration: none;
        color: $primary-color-2;
        font-weight: $font-bold;
        display: flex;
        align-items: center;
      }
    }
  }
}
